.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.6s ease-in-out;
  overflow: hidden;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.title {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.15;
  max-width: 750px;
  text-align: center;
}

.title span {
  color: #ff9933;
}

.content p {
  margin-top: 20px;
  max-width: 600px;
  font-size: 1.05rem;
  line-height: 1.7;
  opacity: 0.9;
  text-align: center;
}


.buttonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.mainBtn {
  background: #ff9933;
  color: #fff;
  padding: 12px 34px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mainBtn:hover {
  background: #ff7a00;
  transform: translateY(-2px);
}

.sideBtn {
  background: rgba(255, 255, 255, 0.95);
  color: #ff9933;
  padding: 12px 34px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sideBtn:hover {
  background: #fff;
  transform: translateY(-2px);
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 153, 51, 0.9);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.arrow:hover {
  background: #ff9933;
  transform: translateY(-50%) scale(1.08);
}

.left {
  left: 40px;
}

.right {
  right: 40px;
}


@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .content {
    text-align: center;
  }

  .buttonContainer {
    justify-content: center;
  }

  .arrow {
    width: 45px;
    height: 45px;
  }
}


/*Navbar*/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #ff9933;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
  color: #fff;
  font-size: 18px;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #ff9933;
}


.nav-btn {
  background:  #ff9933  ;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background:#ff7a00;
}


/* Services Secion*/

.service {
  background-color: #f3f7f6;
  padding: 60px 0;
}

.con {
  background-color: #fff;
  border-top: 3px solid #ff9933;
  border-radius: 15px;
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.con:hover {
  transform: translateY(-8px);
}

.con i {
  font-size: 40px;
  color: #ff9933;
  margin-bottom: 15px;
}

.serviceBtn {
  background-color: #fff;
  padding: 8px 18px;
  border-radius: 5px;
  border: 1px solid #ff9933;
  color: #ff9933;
  margin-top: 10px;
}

.serviceBtn:hover {
  background-color: #ff9933;
  color: #fff;
}
